@charset "utf-8";
header {
  width: 100%;
  height: 32px;
  z-index: 999;
  position: relative;
  background: #333;
}
header .header-nav {
  width: 500px;
  padding-left: 60px;
  height: 100%;
  margin: 0;
}
header .header-nav li {
  padding-right: 42px;
  white-space: nowrap;
  height: 100%;
  color: #fff;
  float: left;
}
header .header-nav li a {
  transition: color 0.2s ease-in-out;
  font-size: 12px;
  color: #ccc;
  font-weight: 400;
  line-height: 32px;
  display: inline-block;
  cursor: pointer;
}
header .header-nav li a:hover {
  color: #627a7a;
}
header .user {
  position: absolute;
  right: 0;
  padding-right: 43px;
  width: 220px;
  height: 32px;
  top: 0;
}
header .user .car {
  margin-left: 48.5px;
}
header .user .users {
  color: #ccc;
  float: right;
  padding-right: 17px;
}
header .user .users i {
  font-size: 12px;
}
header .user .users .l {
  margin-right: 13.5px;
}
header .user .users .r {
  margin-left: 14px;
}
header .user a {
  font-size: 12px;
  color: #ccc;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
header .user a:hover {
  color: #627a7a;
}
.head-show {
  color: #f7f7f5;
  width: 100%;
  height: 68px;
}
.head-show .show-item {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.head-show .show-item .logobox {
  float: left;
  width: 106px;
  height: 28px;
  padding: 16px 0 23px;
  color: black;
  line-height: 37px;
  position: relative;
  transition: all 1s;
}
.head-show .show-item .logobox .iconfont:before {
  font-size: 120px;
  position: absolute;
  left: -6px;
}
.head-show .show-item .logobox:hover {
  color: blue;
}
.head-show .show-item .nav-show {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 906px;
  height: 68px;
  left: 190px;
}
.head-show .show-item .nav-show ul li {
  float: left;
}
.head-show .show-item .nav-show ul .change {
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 18px;
  width: 3.5em;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  line-height: 68px;
}
.head-show .show-item .nav-show ul .change a {
  transition: all 0.2s linear;
}
.head-show .show-item .nav-show ul .change:hover a {
  color: blue;
}
.head-show .show-item .nav-show ul .same {
  width: 85px;
}
.head-show .show-item .nav-show ul .one {
  width: 98px;
}
.head-show .show-item .nav-show ul .IQOO {
  width: 113px;
}
.head-show .show-item .nav-show ul .ear {
  width: 122px;
}
.head-show .show-item .nav-show ul .shop {
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 18px;
  width: 3.5em;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  line-height: 68px;
  width: 74px;
}
.head-show .show-item .nav-show ul .shop a {
  color: #848484;
}
.head-show .show-item .nav-show ul .ser {
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  font-size: 18px;
  width: 3.5em;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  line-height: 68px;
  width: 74px;
}
.head-show .show-item .nav-show ul .ser a {
  transition: all 0.2s linear;
}
.head-show .show-item .nav-show ul .ser:hover a {
  color: blue;
}
.head-show .show-item .nav-show .nav-ser {
  position: absolute;
  right: -103px;
}
.head-show .show-item .nav-show .nav-ser .iconfont {
  line-height: 68px;
  font-size: 19px;
  color: #999;
  cursor: pointer;
}
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 523px;
  padding-bottom: 10px;
  background-color: #f7f7f5;
}
.banner .imgbox {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: -44.89%;
}
.banner .imgbox img {
  position: absolute;
  min-width: 2560px;
  height: 523px;
  cursor: pointer;
}
.banner .po {
  height: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 31px;
  left: 40.3%;
}
.banner .po li {
  float: left;
  width: 42px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  z-index: 5;
  position: relative;
}
.banner .po li:hover p {
  height: 5px;
}
.banner .po li p {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eddad3;
  transition: all 0.2s linear;
}
.wapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.wapper .card {
  position: relative;
  z-index: 4;
  float: left;
  margin-top: -512px;
  width: 200px;
  height: 482px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.65);
  text-align: center;
}
.wapper .card a {
  display: block;
  width: 200px;
  height: 60px;
  position: relative;
}
.wapper .card a:hover {
  background-color: white;
}
.wapper .card a li {
  height: 60px;
  position: relative;
  display: block;
  padding: 0 48px 0 42px;
  color: #333;
  font-size: 14px;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.wapper .card a i {
  position: absolute;
  top: 37%;
  right: 22px;
}
.wapper .card a:first-child {
  margin-top: 41px;
}
.casebox {
  width: 100%;
  background-color: #f7f7f5;
}
.casebox .floor-list {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.casebox .floor-list li {
  float: left;
  width: 293px;
  height: 140px;
  margin-bottom: 10px;
  position: relative;
}
.casebox .floor-list li img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}
.casebox .floor-list li img:hover {
  top: -4px;
  box-shadow: 1px 6px 13px -1px #888888;
}
.casebox .V {
  width: 1200px;
  height: 457px;
  margin: 0 auto;
}
.casebox .V .v-shop {
  position: relative;
  padding-bottom: 25px;
}
.casebox .V .v-shop img {
  margin-top: 3px;
  float: left;
  height: 26px;
  width: 82px;
}
.casebox .V .v-shop .time-num {
  margin-left: 10px;
  font-size: 16px;
  line-height: 32px;
  display: flex;
}
.casebox .V .v-shop .time-num span {
  border-radius: 3px;
  width: 38px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #EC0404;
  font-size: 18px;
  color: #fff;
  margin: 0 6px;
}
.casebox .V .v-shop .right {
  position: absolute;
  right: 0;
  top: 8px;
  color: #333;
  font-size: 14px;
}
.casebox .V .V-list {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
  position: relative;
}
.casebox .V .V-list .btn-left {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #A4A4A4;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  left: -50px;
}
.casebox .V .V-list .btn-left .iconfont {
  font-size: 26px;
}
.casebox .V .V-list .btn-right {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #A4A4A4;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}
.casebox .V .V-list .btn-right .iconfont {
  font-size: 26px;
}
.casebox .V .V-list .V-list-show {
  width: 1200px;
  height: 390px;
  overflow: hidden;
  position: relative;
}
.casebox .V .V-list .V-list-show .scroll-box {
  width: 3000px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box {
  text-align: center;
  float: left;
  width: 292.5px;
  height: 380px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  position: relative;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .zhe {
  position: absolute;
  right: 50px;
  top: 28px;
  z-index: 1;
  width: 60px;
  height: 60px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .mai {
  margin: 0 auto;
  width: 172px;
  height: 172px;
  margin-top: 41px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .name {
  padding-top: 16px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .desc {
  line-height: 17px;
  height: 17px;
  margin-top: 10px;
  font-size: 12px;
  color: #333;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .price {
  margin-top: 20px;
  font-size: 22px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .price .text {
  color: red;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .price .text dfn {
  font-size: 16px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .price .text-d {
  margin-left: 6px;
  text-decoration: line-through;
  color: #aaa;
  font-size: 14px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .detail {
  width: 292.5px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .detail h4 {
  display: block;
  font-size: 18px;
  line-height: 37px;
  width: 54px;
  height: 37px;
  font-weight: 400;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .detail .time {
  font-size: 30px;
  line-height: 59px;
}
.casebox .V .V-list .V-list-show .scroll-box .lit-box .detail .btn {
  margin-top: 38px;
  width: 144px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 100px;
  background-color: #F81200;
  color: #fff;
  font-size: 19px;
}
.casebox .hot-sell {
  width: 1200px;
  margin: 0 auto;
  padding: 38px 0 25px;
  color: #333;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.casebox .hot-list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.casebox .hot-list a {
  position: relative;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
  top: 0;
  margin-bottom: 10px;
}
.casebox .hot-list a .hot-lit-box {
  width: 394px;
  height: 511px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  background-color: #fff;
}
.casebox .hot-list a .hot-lit-box img {
  width: 230px;
  height: 230px;
  margin: 58px auto 0;
}
.casebox .hot-list a .hot-lit-box .name {
  padding-top: 29px;
  font-size: 20px;
  line-height: 30px;
  color: #333;
}
.casebox .hot-list a .hot-lit-box .feature {
  padding: 8px 50px 53px;
  font-size: 14px;
  height: 24px;
  color: #333;
  line-height: 24px;
}
.casebox .hot-list a .hot-lit-box .price {
  font-size: 18px;
  color: #f51919;
  line-height: 1;
}
.casebox .hot-list a .hot-lit-box .price dfn {
  font-size: 14px;
}
.casebox .hot-list a:hover {
  top: -4px;
  box-shadow: 1px 6px 13px -1px #888888;
}
.casebox .nice-phone-list,
.casebox .nice-more-list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.casebox .nice-phone-list a,
.casebox .nice-more-list a {
  position: relative;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
  top: 0;
  margin-bottom: 10px;
}
.casebox .nice-phone-list a .first,
.casebox .nice-more-list a .first {
  width: 595px;
  height: 380px;
}
.casebox .nice-phone-list a .nice-phone-lit,
.casebox .nice-more-list a .nice-phone-lit,
.casebox .nice-phone-list a .nice-more-lit,
.casebox .nice-more-list a .nice-more-lit {
  width: 293px;
  height: 380px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  background-color: #fff;
}
.casebox .nice-phone-list a .nice-phone-lit img,
.casebox .nice-more-list a .nice-phone-lit img,
.casebox .nice-phone-list a .nice-more-lit img,
.casebox .nice-more-list a .nice-more-lit img {
  margin: 43px auto 0;
  width: 172px;
  height: 172px;
}
.casebox .nice-phone-list a .nice-phone-lit .name,
.casebox .nice-more-list a .nice-phone-lit .name,
.casebox .nice-phone-list a .nice-more-lit .name,
.casebox .nice-more-list a .nice-more-lit .name {
  padding-top: 16px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.casebox .nice-phone-list a .nice-phone-lit .feature,
.casebox .nice-more-list a .nice-phone-lit .feature,
.casebox .nice-phone-list a .nice-more-lit .feature,
.casebox .nice-more-list a .nice-more-lit .feature {
  padding: 2px 15px 40px;
  height: 24px;
  color: #333;
  font-size: 12px;
  line-height: 24px;
}
.casebox .nice-phone-list a .nice-phone-lit .price,
.casebox .nice-more-list a .nice-phone-lit .price,
.casebox .nice-phone-list a .nice-more-lit .price,
.casebox .nice-more-list a .nice-more-lit .price {
  color: #f51919;
  font-size: 16px;
  line-height: 1;
}
.casebox .nice-phone-list a .nice-phone-lit .price dfn,
.casebox .nice-more-list a .nice-phone-lit .price dfn,
.casebox .nice-phone-list a .nice-more-lit .price dfn,
.casebox .nice-more-list a .nice-more-lit .price dfn {
  margin-right: 2px;
  color: #f51919;
  font-size: 14px;
}
.casebox .nice-phone-list a:hover,
.casebox .nice-more-list a:hover {
  top: -4px;
  box-shadow: 1px 6px 13px -1px #888888;
}
.casebox .nice-more {
  width: 1200px;
  margin: 0 auto;
  padding: 38px 0 25px;
  color: #333;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  position: relative;
  height: 24px;
}
.casebox .nice-more .mores {
  position: absolute;
  right: 0;
  top: 44px;
}
.casebox .nice-more .mores li {
  float: left;
  margin-left: 22px;
  font-size: 14px;
  line-height: 1;
}
.casebox .nice-more .mores li:nth-child(4) {
  position: relative;
  top: -5px;
}
.casebox .nice-more .mores li .iconfont {
  position: relative;
  top: 2px;
  font-size: 19px;
  line-height: 19px;
}
.casebox .nice-more .mores li a {
  transition: all 0.2s linear;
}
.casebox .nice-more .mores li:hover a {
  color: red !important;
}
.casebox .nice-more-list {
  padding-bottom: 70px;
}
.side {
  position: fixed;
  right: 0;
  width: 50px;
  height: 150px;
  background-color: white;
  bottom: 50px;
  margin-bottom: 50px;
}
.side li {
  width: 100%;
  height: 50px;
  text-align: center;
}
.side li a .iconfont {
  font-size: 30px;
  line-height: 50px;
}
.side li:hover {
  background-color: #eaeaea;
}
.side li:hover a {
  color: #f41919;
}
.side li:nth-child(4) {
  visibility: hidden;
}
.shop-foot {
  width: 100%;
  padding: 30px 0 70px;
}
.shop-foot .in {
  width: 1200px;
  margin: 0 auto;
}
.shop-foot .in ul {
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
  height: 28px;
}
.shop-foot .in ul li {
  text-align: center;
  float: left;
  width: 300px;
  height: 28px;
  line-height: 28px;
  color: #333;
  font-size: 18px;
  cursor: default;
}
.shop-foot .in ul li .iconfont {
  margin-right: 2px;
  font-size: 28px;
  vertical-align: -3px;
}
.friend-link {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.friend-link .link-list {
  display: inline-table;
  vertical-align: top;
  width: 75%;
  margin-left: 20px;
}
.friend-link .link-list ul li {
  width: 180px;
  height: 249px;
  float: left;
}
.friend-link .link-list ul li p {
  width: 180px;
  height: 17px;
  font-size: 16px;
  line-height: 17px;
  padding-bottom: 40px;
}
.friend-link .link-list ul li > a {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  color: #666;
  transition: all 0.2s linear;
}
.friend-link .link-list ul li > a:hover {
  color: blue;
}
.friend-link .other-link {
  width: 180px;
  position: absolute;
  right: 20px;
  top: 0;
}
.friend-link .other-link .online {
  transition: all 0.5s linear;
  display: inline-block;
  margin-bottom: 30px;
  color: #333;
  font-size: 22px;
}
.friend-link .other-link .online .iconfont {
  font-size: 25px;
}
.friend-link .other-link .online:hover {
  color: blue;
}
.friend-link .phonebox {
  margin-bottom: 24px;
}
.friend-link .phonebox p {
  color: #415fff;
  font-size: 24px;
}
.friend-link .phonebox span {
  padding-top: 10px;
  color: #333;
  font-size: 14px;
}
.friend-link .phonebox:nth-child(2) {
  margin-bottom: 30px;
}
.friend-link .vivo {
  font-size: 14px;
  color: #333;
  line-height: 1;
  margin-bottom: 13px;
}
.friend-link .icon li {
  float: left;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  padding-top: 5px;
}
.friend-link .icon li .iconfont {
  width: 20px;
  height: 20px;
  color: #333;
  font-family: vp-foot-iconfont;
  font-size: 24px;
  transition: all 0.3s ease;
}
.friend-link .icon li .iconfont:hover {
  color: blue;
}
footer {
  margin: 74px auto 0;
  padding: 30px 0;
  white-space: normal;
  border-top: 1px solid silver;
  width: 1200px;
}
footer .foot {
  overflow: hidden;
  margin-top: -0.25em;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
footer .foot .links a {
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}
footer .foot .links a img {
  display: inline-block;
  width: 15px;
  height: 16px;
}
footer .foot .icon-diqiu {
  margin-left: 76px;
  transition: all 0.5s linear;
}
footer .foot .icon-diqiu:hover {
  color: blue;
}
footer .foot .guohui {
  margin-right: 20px;
}
